#ONCE
using System;
using Creelio.Framework.DAL;

namespace {{EntitiesNamespace}}
{
    public static class {{EntitiesDataAccessorClass}}
    {
        private const string {{Connection}} = "<INSERT CONNECTION NAME HERE>";

        {{DataAccessorPropertiesList}}
    }
}