<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DALEK.WinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DALEK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DALEK.WinForms.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="EntitiesOutputDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ScriptsOutputDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="GenerateEntities" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenerateScripts" serializeAs="String">
                <value>True</value>
            </setting>
        </DALEK.WinForms.Properties.Settings>
        <DALEK.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value/>
            </setting>
            <setting name="EntitiesOutputDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="ScriptsOutputDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="ExecuteScriptsOnGenerate" serializeAs="String">
                <value>False</value>
            </setting>
        </DALEK.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
